In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras
%matplotlib inline

Using TensorFlow backend.

In [2]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [3]:
X = train_data[['T', 'V', 'P', 'RH']]
Y = train_data['E']
x_test = test_data

In [4]:
train_data.head()

        T       V      P     RH        E
0  273.39  420.12  91.84  57.41  1778.12
1  195.26  248.88  92.29  35.21  1824.16
2  377.52  360.42  92.31  27.69  1761.72
3  171.60  244.98  91.61  56.99  1889.64
4  222.56  353.70  92.43  54.25  1806.68

In [5]:
train_data.describe()

                 T            V            P           RH            E
count  2000.000000  2000.000000  2000.000000  2000.000000  2000.000000
mean    256.010820   325.217580    92.111935    44.169640  1817.052860
std      95.188288    76.288073     0.539140     8.773132    66.594563
min      47.190000   152.160000    90.260000    15.530000  1700.560000
25%     175.695000   250.680000    91.730000    37.997500  1758.960000
50%     266.565000   307.800000    92.080000    45.160000  1808.400000
75%     334.880000   398.700000    92.482500    51.152500  1871.620000
max     455.390000   481.080000    93.890000    60.090000  1976.960000

In [6]:
def transform(X):
    temp = np.zeros(shape=(X.shape[0], X.shape[1]+X.shape[1]**2+X.shape[1]**3+X.shape[1]**4+X.shape[1]**5))
    for i in range(4):
        temp[:, i] = X[:, i]
    for i in range(4):
        for j in range(4):
            temp[:, 4+i*4+j] = X[:, i]*X[:, j]
    for i in range(4):
        for j in range(4):
            for k in range(4):
                temp[:, 20+i*16+j*4+k] = X[:, i]*X[:, j]*X[:, k]
    for i in range(4):
        for j in range(4):
            for k in range(4):
                for l in range(4):
                    temp[:, 84+i*64+j*16+k*4+l] = X[:, i]*X[:, j]*X[:, k]*X[:, l]
    for i in range(4):
        for j in range(4):
            for k in range(4):
                for l in range(4):
                    for m in range(4):
                        temp[:, 340+i*64+j*16+k*4+l] = X[:, i]*X[:, j]*X[:, k]*X[:, l]
    return temp

In [7]:
X = transform(np.array(X))
x_test = transform(np.array(x_test))

# Using Linear Regression from sklearn.linear_model

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
clf = LinearRegression(n_jobs=-1, normalize=True)
clf.fit(X, Y)
pred = clf.predict(x_test)

In [10]:
pd.DataFrame(pred).to_csv('results.csv', index=False, header=False)